/*body {*/
/*  padding: 50px;*/
/*  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
/*}*/

/*a {*/
/*  color: #00B7FF;*/
/*}*/


.valignMiddle {
  vertical-align: middle;
}

.main-header {

}

#user-profile table {
  border-spacing: 10px;
  border-collapse: separate;
  font-weight: bold;
}

#user-profile table td {
  height: 65px;
  vertical-align: bottom;
}

.slider {
  background: #27B264;
  margin: 2em 0;
  padding: 4em 0.5em;
  text-align: center;
  color: white;
  -webkit-box-shadow: inset 1px 8px 13px -7px rgba(79,79,79,1);
  -moz-box-shadow: inset 1px 8px 13px -7px rgba(79,79,79,1);
  box-shadow: inset 1px 8px 13px -7px rgba(79,79,79,1);
}

.main-body {
  margin-top: 1em;
  margin-bottom: 1em;
}

.like {
  text-align: center;
  border-top: 1px solid lightgray;
  padding: 1em 0;
}

.like .btn {
  padding: 0.6em 5em;
  margin: 1em;
  border-radius: 0;
  max-width: 232px;
}

.footer {
  margin-top: 2em;
  margin-bottom: 1em;
  padding-top: 1em;
  border-top: 1px solid lightgray;
}