<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title><%= title %></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<link href="/stylesheets/style.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main">
        <!-- Start Header -->
        <div class="main-header container">
            <div id="logo" class="col-xs-12 col-sm-6">
                <img src="/images/logo.png" />
            </div>
            <div id="user-profile" class="hidden-xs pull-right">
                <table>
                    <tr>
                        <td style="text-align: right">
                            <p style="color: lightgray; font-style: italic">Handcrafted by</p>
                            <p sytle="color: #505050">Kane Nguyen</p>
                        </td>
                        <td>
                            <img src="/images/avatar.png"/>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- End header-->
        
        <!-- Start slider -->
        <div class='slider'>
            <div class="shadow"></div>
            <h1>A joke a day keep the doctor away</h1>
            <h5>If you joke wrong way, your teeth have to pay. (Serious)</h5>
        </div>
        <!-- End slider -->
        
        <!-- Start main -->
        <div class="col-md-8 col-md-offset-2 main-body">
            <p>
                Arcu adipiscing tempor in at a metus dapibus purus quam eu a semper sed a justo nullam feugiat suspendisse nullam gravida vestibulum imperdiet amet. Euismod scelerisque ridiculus vel quisque condimentum vestibulum libero a ullamcorper placerat orci parturient natoque quis luctus sit parturient facilisi consequat purus maecenas platea. Vel sodales primis per elit libero magna bibendum duis justo a massa mi id habitasse et parturient cras lorem vel orci et arcu curabitur. A senectus parturient habitasse quis tincidunt vestibulum felis commodo magna nibh ac et et consequat rhoncus condimentum nunc id auctor facilisi dictumst. Odio suspendisse hendrerit et et lobortis ullamcorper vel vehicula parturient parturient ante placerat enim venenatis odio et a.
            </p>
            <p>
                Duis malesuada a lacinia penatibus parturient feugiat ultricies urna adipiscing a parturient ligula scelerisque vestibulum odio viverra adipiscing a. Parturient blandit curae consectetur cursus sagittis ad eleifend vestibulum luctus aliquam parturient a adipiscing donec id tristique condimentum ac ridiculus morbi conubia euismod tristique morbi eget suspendisse. Arcu malesuada vel turpis ut sem viverra laoreet porttitor venenatis et enim id adipiscing nisl potenti interdum fringilla suscipit parturient nascetur rutrum dignissim eros scelerisque mi class.
            </p>
        </div>
        <!-- End main -->
        
        <!-- Start like / dislike -->
        <div class="like col-md-6 col-md-offset-3">
            <span class="btn btn-primary">This is Funny!</span>
            <span class="btn btn-success">This is not funny.</span>
        </div>
        <!-- End like / dislike -->
        
        <!-- Start footer -->
        <div style="clear: both"></div>
        <div class="footer">
            <div class="container text-center">
                Consequat libero massa posuere quisque dui arcu vehicula felis enim tortor dictumst quis in condimentum a ac donec pharetra ante conubia a at pulvinar massa elit adipiscing.Facilisis orci imperdiet neque proin scelerisque gravida id nisl vestibulum adipiscing at laoreet iaculis mus dis a a a. <br>
                Coryright 2015 Futureworkz, handicrafted by <b>Kane Nguyen.</b>
            </div>
        </div>
        <!-- End footer -->
        
    </div>
</body>

</html>